@charset "UTF-8";
/* CSS Document */

img{
  width: 100%;
  height: auto;
  vertical-align: bottom;/*画像の下にできる余白を削除*/
}

/*メイン画像下に余白をつける*/

.gallery{
  margin:0 0 5px 0;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
  z-index: 3;
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #ccc;/*矢印の色*/
    border-right: 2px solid #ccc;/*矢印の色*/
    height: 25px;
    width: 25px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left:2.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right:2.5%;
    transform: rotate(45deg);
}

/*選択するサムネイル画像の設定*/

.choice-btn li{
  cursor: pointer;
  outline: none;
  background:#333;
  width:25%!important;
}

.choice-btn li img{
  opacity: 0.4;/*選択されていないものは透過40%*/
}

.choice-btn li.slick-current img{
  opacity: 1;/*選択されているものは透過しない*/
}

/*========= レイアウトのためのCSS ===============*/

/*エリア全体を中央寄せ*/
.wrapper{
  width:94%;
  max-width:900px;
  margin:0 auto;
}

ul{
  margin:0;
  padding: 0;
  list-style: none;
}

a{
  color: #333;
}

a:hover,
a:active{
  text-decoration: none;
}

h1{
  text-align: center;
  font-size:6vw;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin:30px 0;
}

p{
  margin:30px 0;
  word-wrap : break-word;
}











.Item{
  text-decoration: none;
  color: #000000;
  font-size: 17px;
}
.Item-Text{
  position: relative;
  z-index: 1;
}
.Item-Text:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;/*テキストからの距離*/
  width: 0%;/*初期状態では下線非表示*/
  height: 1px;/*下線の高さ*/
  background: #000000;/*下線の色*/
  z-index: -1;
  transition: all 0.4s;/*アニメーション速度*/
}
.Item:hover .Item-Text:after{
  width: 100%;/*hover時に表示*/
}






.header{
border: solid #1B1B1B 1px;
padding: 0.5em;
border-radius: 0.5em;
width: 200px;

font-size: 13px;
margin-left: 30px;
}

.photo{
text-align: center;


}

.ul li{
display:inline-block;
list-style-type: none;
letter-spacing: 6px;
margin-right: 35px;
text-align: center;
margin-top: 30px;

}

.ul{

padding: 0.5px;
border-radius: 0.2em;
z-index: 10;
height: 70px;
top: 500px;
background-color: #fff;
text-align: center;
padding-bottom: 100px;
padding-top: 25px;
}

.body{
background-color: #989898;
font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "sans-serif";
}

.photo2{
margin-bottom: 3px;

}

h3{
border: solid #1B1B1B 0.5px;
padding: 0.5em;
border-radius: 0.5em;
width: 250px;
margin: 0 auto;
margin-top: 60px;
margin-bottom: 65px;

}

.minephoto{
margin-top: 10px;
}


.asd{
display:flex;
}


.bigphoto{

width: 40%;
height: auto;
margin-top: 50px;
border-top: solid;
margin-left: 40px;
margin-bottom: 60px;

}



.bigphoto2{

width: 40%;
height: auto;
margin-top: 50px;
margin-right: 40px;
margin-bottom: 60px;
margin-left: 70px;
}


small{
padding: 60px;

}
